.feedback-container {
    margin: 20px 40px 0px 40px;
    /* margin: 27px 25px 0px 25px; */
    padding: 20px 20px 0px 20px;

    height: 85.6vh;
    background: #FFFFFF;
    box-shadow: -3px -5px 53.7px rgba(0, 0, 0, 0.11);
    border-radius: 46px 46px 0px 0px;

}

.f-container-items {
    background: #FFFFFF;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px 40px;
    border: 1px solid rgba(166, 169, 172, 0.7);
    border-radius: 24px;
    gap: 60px;

}

.f-c-item {
    display: flex;
    flex-direction: column;

    width: 10vw;

}

/* line-height: 41px; */
.f-c-item span:nth-child(1) {

    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
    font-size: 14px;
    color: #6E6E6E;

}

.f-c-item span:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 20px; */
    letter-spacing: 0em;
    text-align: left;

}