.b-container {
    height: 73.2vh;
    background: #FFFFFF;
    box-shadow: -3px -5px 53.7px rgba(0, 0, 0, 0.11);
    border-radius: 46px 46px 0px 0px;
    padding: 20px 20px 0px 20px;
    /* margin: 15px 25px 0px 25px; */

}

.b-items {
    background: #FFFFFF;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(166, 169, 172, 0.7);
    border-radius: 24px;


}
.b-item span:nth-child(1) {

    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
    font-size: 14px;
    color: #6E6E6E;

}

.b-item span:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 20px; */
    letter-spacing: 0em;
    text-align: left;

}
.b-items .b-item {


    display: flex;
    flex-direction: column;

}



.accept-btn {
    /* #3583F6 */
    background: #3583F6;
    border-radius: 20px;
    border: none;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 27px; */
    /* identical to box height, or 135% */
    text-align: center;
    padding: 10px 40px;
    color: #FFFFFF;


}



.comp-req {
    display: flex;
    align-items: center;
    gap: 10px;
}

.undo-btn {

    padding: 10px 40px;
    /* Component 42 */

    box-sizing: border-box;

    /* position: absolute;
left: 82.97%;
right: 7.89%;
top: 28.8%;
bottom: 65.65%; */

    border: 1px solid #000000;
    border-radius: 52px;
    border-radius: 51px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #6E6E6E;


}

.check-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3583F6;
    /* object-fit: cover; */
    display: flex;
    align-items: center;
}

.check-img>img {
    margin-top: auto;
    margin-bottom: auto;
    /* object-fit: cover; */
    margin: auto;
    width: 30px;
    height: 30px;
}