.hire-modal-container {
    /* hire */


    /* height: 251px; */
    /* Rectangle 368 */

    background: #FFFFFF;
    border-radius: 26px;
    padding: 51px 0px 27px 82px;


}

.hire-modal-text {
    /* Frame 1549 */

    /* Auto layout */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* width: 359px; */
    /* height: 65px; */

    /* font-size: 20px; */
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.02em;
    text-align: left;

}

.hire-modal-btn {
    margin-top: 37px;
    display: flex;
    gap: 25px;

}

.hire-modal-btn button {
    /* Rectangle 366 */

    width: 200px;
    height: 64px;


    /* #3583F6 */
    background: #3583F6;
    border-radius: 39px;
    border: none;

    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    color: #FFFFFF;



}

.hire-modal-btn button:nth-child(2) {
    background: #FFFFFF;
    border: 1px solid #3583F6;
    color: black;
}