.j-r-m-main {
    /* background: green; */
    /* padding: 20px 40px 0px 40px; */

    /* margin: 27px 25px 0px 25px; */
    margin: 20px 40px 0px 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100vh; */
}

.j-r-c-main {
    /* background: green; */
    /* padding: 20px 40px 0px 40px; */

    /* margin: 27px 25px 0px 25px; */

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 100vh; */
}